---
layout: default
---

<div class="home">

  <h3 class="site-description">{{ site.description }}</h3>

  <ul class="post-list" itemscope itemtype="http://schema.org/Blog">
    {% comment %}
      Loop through site posts
      `is_reverse_row_post`, `five_row_index_post`, `post_size`, and `divisible_by_five_` are
      all used by '_includes/post-list.html'
    {% endcomment %}
    {% assign is_reverse_row_post = false %}
    {% assign five_row_index_post = 1 %}
    {% assign posts_size = site.posts.size %}
    {% assign divisible_by_five = posts_size | modulo:5 %}

    {% for post in site.posts %}
      {% include post-list.html %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
