{% comment %}
  This snippet controls the post list. Depending on the number of posts in
  current page we want to display them in rows of 1, 2, 3, 4, 5 or a reversed row of 5.

  A '5 row' has the large post left align with four smaller posts on the right.

  The 'reversed 5 row' has the large post right aligned with four smaller posts on
  the left.

  If we're near the end of the loop and there are not enough posts to make
  complete rows of 5, we switch to a 3 item row.

  For example:
  1  = 1
  2  = 2
  3  = 3
  4  = 3 + 1
  5  = 5
  6  = 5 + 1
  7  = 5 + 2
  8  = 5 +3
  9  = 5 + 3 + 1
  10 = 5 + reverse 5
  11 = 5 + reverse 5 + 1
  etc.

{% endcomment %}

{% assign index_post = forloop.index %}
{% assign remaining_length_posts = posts_size | minus: index_post %}

{% comment %}
  If there are more than five items left we want to put them in a 5
  or reverse 5 row

  5 row = 1 large post on the left, 4 small on the right
  reverse 5 row = 4 small posts on the left, 1 large on the right
{% endcomment %}
{% if remaining_length_posts > 5 %}
  {% assign is_five_row_post = true %}
{% else %}
  {% assign is_five_row_post = false %}
{% endif %}

{% comment %}
  If the total number of posts is divisible by 5, we will just use
  5 and reversed 5 items rows
{% endcomment %}
{% if divisible_by_five == 0 %}
  {% assign is_five_row_post = true %}
{% endif %}

{% comment %}
  If we set is_five_row_post to true based on the conditionals above.
{% endcomment %}

{% if is_five_row_post == true %}

  {% if five_row_index_post > 5 %}
    {% if is_reverse_row_post %}
      {% assign is_reverse_row_post = false %}
    {% else %}
      {% assign is_reverse_row_post = true %}
    {% endif %}
    {% assign five_row_index_post = 1 %}
  {% endif %}

  {% if five_row_index_post == 1 %}
    {% if is_reverse_row_post %}
      <li class="post-list__row">
        <ul class="post-list--secondary">
    {% else %}
      <li class="post-list__row">
        <ul class="post-list--primary">
      {% endif %}
  {% endif %}

  {% include post-list-item.html %}

  {% if is_reverse_row_post %}
    {% if five_row_index_post == 4 %}
        </ul>
      <ul class="post-list--primary">
    {% endif %}
  {% else %}
    {% if five_row_index_post == 1 %}
        </ul>
      <ul class="post-list--secondary">
      {% endif %}
  {% endif %}

  {% if five_row_index_post == 5 %}
      </ul>
    </li>
  {% endif %}

  {% comment %}
    Increment the group of five counter
  {% endcomment %}
  {% if five_row_index_post <= 5 %}
    {% assign five_row_index_post = five_row_index_post | plus: 1 %}
  {% endif %}

  {% continue %}

{% endif %}

{% comment %}
  If is not a 5 row just show the post list item
{% endcomment %}
{% include post-list-item.html %}
