@charset "utf-8";

// Our variables
$phi: 1.618;

$base-font-family: 'Karla', sans-serif;
$header-font-family: 'Inconsolata', monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$header-font-weight: 400;
$base-line-height: 1.5;
$header-line-height: 1.1;

// http://www.modularscale.com/?16&px&1.2&web&text
$alpha-font-size: $base-font-size * 1.728;
$beta-font-size: $base-font-size * 1.44;
$gamma-font-size: $base-font-size * 1.2;
$small-font-size:  $base-font-size * 0.833;

// Fallbacks
$base-font-size-fallback: 14px;
$base-line-height-fallback: 1.72;

$base-font-family-fallback: Verdana, Geneva, sans-serif;
$header-font-family-fallback: "Lucida Console", Monaco, monospace;

$alpha-font-size-fallback: $base-font-size-fallback + 9;
$beta-font-size-fallback: $base-font-size-fallback + 5;
$gamma-font-size-fallback: $base-font-size-fallback + 2;
$small-font-size-fallback: $base-font-size-fallback - 3;

// General
$spacing-unit:     30px;

$text-color:       #232323;
$background-color: #ffffff;
$brand-color:      #1201ff;
$code-background:  #f6f6f6;

$grey-color:       lighten($text-color, 34.5%);
$grey-color-light: lighten($text-color, 77.5%);
$grey-color-dark:  lighten($text-color, 17%);

// Width of the content area
$content-width:    800px;

$viewport-increment: 1px;
$small:            600px;
$post-small:       $small + $viewport-increment;
$medium:           800px;
$post-medium:      $medium + $viewport-increment;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "utilities",
  "base",
  "layout",
  "syntax-highlighting";
