/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  text-align: center;

}

.site-title {
  line-height: normal;
  display: inline-block;
  font-family: $header-font-family;
  font-size: 26px;
  font-weight: $headings-font-weight;
  margin-bottom: 1em;
  margin-top: $phi * 1em;

  a {
    color: $grey-color-dark;

    &:visited {
      color: $grey-color-dark;
    }
  }
}

.site-nav {
  @include display-flexbox();
  @include justify-content(center);
  @include flex-wrap(wrap);
  border-bottom: 1px solid $grey-color-light;
  border-top: 1px solid $grey-color-light;
  font-family: $header-font-family;
  padding-bottom: $phi * .85em;
  padding-top: $phi * .85em;
  position: relative;

  .page-link {
    color: $grey-color-dark;

    &:hover,
    &:focus {
      color: $text-color;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .site-logo {
    background: $background-color;
    left: 50%;
    line-height: 0;
    margin-left: -15px;
    position: absolute;
    top: -15px;
    z-index: 1;

    svg {
      width: 30px;
      height: 30px;

      path {
        fill: $brand-color;
      }
    }
  }

  .is-active {
    color: $text-color;
  }

}



/**
 * Site footer
 */
.site-footer {
  background: darken($background-color, .6%);
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  font-size: $small-font-size;
  color: $grey-color;
  text-align: center;
}



/**
 * Page content
 */
.page-content {
  @include flex-grow(1);
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 22px;
  margin: $spacing-unit * 2 0 $spacing-unit * $phi;
  text-align: center;

  @include media-query($post-palm) {
    margin-top: $spacing-unit * 3;
  }
}

.site-description {
  @extend .page-heading;
  font-size: 18px;
  max-width: $content-width / $phi;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing-unit * 3;

  @include media-query($post-palm) {
    margin-bottom: $spacing-unit * 4;
  }
}

%post-list {
  margin-left: 0;
  list-style: none;
}

.post-list {
  @extend %post-list;

  @include media-query($post-palm) {
    @include display-flexbox();
    @include flex-wrap(wrap);
    margin-left: -$spacing-unit / 2;
  }

  @include element(row) {

    @include media-query($post-palm) {
      padding-left: $spacing-unit / 2;
      width: 50%;

      .post-list__item {
        width: 100%;
      }
    }

    @include media-query($post-laptop) {
      @include display-flexbox();
      padding-left: 0;
      width: 100%;
    }
  }

  @include element(item) {
    @include display-flexbox();
    margin-bottom: $spacing-unit / 2;
    min-height: $spacing-unit / 2 * 12;

    @include media-query($post-palm) {
      padding-left: $spacing-unit / 2;
      width: 50%;
    }

    @include media-query($post-laptop) {
      width: 33.33%;
    }
  }

  @include modifier(primary) {
    @extend %post-list;

    @include media-query($post-palm) {
      margin-left: -$spacing-unit / 2;
    }

    @include media-query($post-laptop) {
      @include flex(1);
      @include display-flexbox();
      padding-left: $spacing-unit / 2;
    }
  }

  @include modifier(secondary) {
    @extend %post-list;

    @include media-query($post-palm) {
      margin-left: -$spacing-unit / 2;
    }

    @include media-query($post-laptop) {
      padding-left: $spacing-unit / 2;
      @include flex(2);
    }

    @include media-query($post-laptop) {
      @include display-flexbox();
      @include flex-wrap(wrap);

      .post-list__item {
        width: 50%;
      }
    }

  }

}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  @include flex-grow(1);
  border: 1px solid $grey-color-light;
  padding: $spacing-unit / 2 $spacing-unit / 2 $spacing-unit * $phi;

  &:hover {
    background: darken($background-color, .6%);
    text-decoration: none;

    h2 {
      text-decoration: underline;
    }

  }

  h2 {
    font-size: 18px;
  }

  .post-meta {
    padding-bottom: 1em;
    position: relative;
    &:before {
      background: $grey-color-light;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: $phi * $base-font-size;
    }
  }

}

.pagination {
  @include display-flexbox();
  @include justify-content(center);
  margin: $spacing-unit 0;

  span,
  a {
    padding: .5em;
  }
}



/**
 * Posts
 */
.post-header {
  margin: $spacing-unit * 2 0 $spacing-unit * $phi;
  text-align: center;

  @include media-query($post-palm) {
    margin-top: $spacing-unit * 3;
  }
}

.post-title {
  font-size: 22px;
  line-height: 1;
  margin-bottom: $spacing-unit / 6;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 12px;
  }
}



/**
 * Portfolio
 */
.portfolio-list {
  font-family: $header-font-family;
  list-style: none;
  margin-left: -$spacing-unit / 2;

  @include media-query($post-palm) {
    @include display-flexbox();
    @include flex-wrap(wrap);
  }

  li {
    margin-bottom: $spacing-unit;
    padding-left: $spacing-unit / 2;
    text-align: center;

    @include media-query($post-palm) {
      width: 50%;
    }

    @include media-query($post-laptop) {
      width: 33.33%;
    }
  }

  span {
    display: block;
    font-size: $small-font-size;
    margin-top: 1rem;
  }

}
