/**
 * Site header
 */
.site-header {
  font-family: $header-font-family-fallback;
  text-align: center;
  padding: $spacing-unit 0;

  .wf-active & {
    font-family: $header-font-family;
  }

  .wrapper {
    @include media-query($post-palm) {
      @include display-flexbox();
      @include align-items(baseline);
      @include justify-content(space-between);
    }
  }

}

.site-title {
  font-size: $base-font-size-fallback;
  font-weight: $headings-font-weight;
  margin-bottom: $phi * 1em;
  line-height: 1.5;

  .wf-active & {
    font-size: $base-font-size;
    line-height: 1.1;
  }

  &:before {
    content: "@";
    color: $brand-color;
  }

  @include media-query($post-palm) {
    &,
    .wf-active & {
      margin-bottom: 0;
    }
  }

  a {
    color: $text-color;
  }
}

%site-nav__link {
  color: $grey-color-dark;

  &:hover,
  &:focus {
    color: $text-color;
  }

  padding-left: $phi * .5em;
  padding-right: $phi * .5em;

  &:last-child {
    @include media-query($post-palm) {
      padding-right: 0;
    }
  }
}

.site-nav {
  @include display-flexbox();
  @include justify-content(center);
  @include flex-wrap(wrap);

  @include element(link) {
    @extend %site-nav__link;

    @include modifier(active) {
      @extend %site-nav__link;
      color: $text-color;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background: $text-color;
  padding: $spacing-unit 0;
  font-size: $small-font-size-fallback;
  font-family: $header-font-family-fallback;
  color: $background-color;
  text-align: center;

  .wf-active & {
    font-size: $small-font-size;
    font-family: $header-font-family;
  }

  a {
    color: inherit;
  }
}



/**
 * Page content
 */
.page-content {
  @include flex-grow(1);
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: $alpha-font-size-fallback;
  margin: $spacing-unit * 2 0 $spacing-unit * $phi;
  text-align: center;

  .wf-active & {
    font-size: $alpha-font-size;
  }

  @include media-query($post-palm) {
    margin-top: $spacing-unit * 3;
  }
}

.site-description {
  @extend .page-heading;
  max-width: $content-width / $phi;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing-unit * 3;

  @include media-query($post-palm) {
    margin-bottom: $spacing-unit * 4;
  }
}

%post-list {
  margin-left: 0;
  list-style: none;
}

.post-list {
  @extend %post-list;

  @include media-query($post-palm) {
    @include display-flexbox();
    @include flex-wrap(wrap);
    margin-left: -$spacing-unit / 2;
  }

  @include element(row) {

    @include media-query($post-palm) {
      padding-left: $spacing-unit / 2;
      width: 50%;

      .post-list__item {
        width: 100%;
      }
    }

    @include media-query($post-laptop) {
      @include display-flexbox();
      padding-left: 0;
      width: 100%;
    }
  }

  @include element(item) {
    @include display-flexbox();
    margin-bottom: $spacing-unit / 2;
    min-height: $spacing-unit / 2 * 11;

    @include media-query($post-palm) {
      padding-left: $spacing-unit / 2;
      width: 50%;
    }

    @include media-query($post-laptop) {
      width: 33.33%;
    }
  }

  @include modifier(primary) {
    @extend %post-list;

    @include media-query($post-palm) {
      margin-left: -$spacing-unit / 2;
    }

    @include media-query($post-laptop) {
      @include flex(1);
      @include display-flexbox();
      padding-left: $spacing-unit / 2;
    }

    .post-link {
      color: white;

      .post-meta {
        color: inherit;
        &:before {
          background: white;
        }
      }
    }
  }

  @include modifier(secondary) {
    @extend %post-list;

    @include media-query($post-palm) {
      margin-left: -$spacing-unit / 2;
    }

    @include media-query($post-laptop) {
      padding-left: $spacing-unit / 2;
      @include flex(2);
    }

    @include media-query($post-laptop) {
      @include display-flexbox();
      @include flex-wrap(wrap);

      .post-list__item {
        width: 50%;
      }
    }

  }

}

.post-meta {
  font-size: $small-font-size-fallback;
  color: $grey-color;

  .wf-active & {
    font-size: $small-font-size;
  }
}

.post-link {
  @include flex-grow(1);
  background: lighten($text-color, 84.5%);
  padding: $spacing-unit / 2 $spacing-unit / 2 $spacing-unit * $phi;

  &:hover {
    text-decoration: none;

    h2 {
      text-decoration: underline;
    }

  }

  h2 {
    font-size: $gamma-font-size-fallback;

    .wf-active & {
      font-size: $gamma-font-size;
    }
  }

  .post-meta {
    padding-bottom: 1.25em;
    position: relative;

    &:before {
      background: $grey-color-light;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: $phi * $base-font-size;
    }

    .wf-active & {
      padding-bottom: 1em;
    }
  }

}

.pagination {
  @include display-flexbox();
  @include justify-content(center);
  margin: $spacing-unit 0;

  span,
  a {
    padding: .5em;
  }
}



/**
 * Posts
 */
.post-header {
  margin: $spacing-unit * 2 0 $spacing-unit * $phi;
  text-align: center;
  max-width: $content-width / $phi;
  margin-left: auto;
  margin-right: auto;

  @include media-query($post-palm) {
    margin-top: $spacing-unit * 3;
  }
}

.post-title {
  font-size: $alpha-font-size-fallback;
  margin-bottom: 2px;

  .wf-active & {
    font-size: $alpha-font-size;
    line-height: 1;
    margin-bottom: $spacing-unit / 6;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: $beta-font-size-fallback;

    .wf-active & {
      font-size: $beta-font-size;
    }
  }

  h3 {
    font-size: $gamma-font-size-fallback;

    .wf-active & {
      font-size: $gamma-font-size;
    }
  }

  h4 {
    font-size: $base-font-size-fallback;

    .wf-active & {
      font-size: $base-font-size;
    }
  }
}



/**
 * Portfolio
 */
.portfolio-list {
  font-family: $header-font-family-fallback;
  list-style: none;
  margin-left: -$spacing-unit / 2;

  .wf-active & {
    font-family: $header-font-family;
  }

  @include media-query($post-palm) {
    @include display-flexbox();
    @include flex-wrap(wrap);
  }

  @include element(item) {
    margin-bottom: $spacing-unit;
    padding-left: $spacing-unit / 2;

    @include media-query($post-palm) {
      width: 50%;
    }

    @include media-query($post-laptop) {
      width: 33.33%;
    }

    span {
      display: block;
      font-size: $small-font-size-fallback;
      margin-top: 1rem;

      .wf-active & {
        font-size: $small-font-size;
      }
    }
  }
}
