/**
 * Site header
 */
.site-header {
  padding: $spacing-unit / 2 0;
}

.site-title {
  font-size: $alpha-font-size;
  font-weight: $header-font-weight;
  margin-bottom: 5px;

  a {
    color: $text-color;
  }
}

.site-nav-link {
  color: $text-color;

  &::before {
    content: "\2190";
    margin-right: 0.25em;
  }
}



/**
 * Site footer
 */
.site-footer {
  background: $text-color;
  padding: $spacing-unit 0;
  font-size: $small-font-size;
  color: $background-color;

  a {
    color: inherit;
  }
}



/**
 * Page content
 */
.page-content {
  @include flex-grow(1);
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: $alpha-font-size;
  margin: 0 0 $spacing-unit * 1.5;
}

.site-description {
  color: $grey-color;

  @include media-query($post-small) {
    max-width: calc(100% / #{$phi});
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-list {
  margin-left: 0;
  margin-top: $spacing-unit * 1.5;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-link {
  font-size: $gamma-font-size;
}



/**
 * Posts
 */
.post-header {
  margin: 0 0 $spacing-unit * 1.5;
}

.post-title {
  font-size: $alpha-font-size;
  margin-bottom: $spacing-unit / 6;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: $beta-font-size;
  }

  h3 {
    font-size: $gamma-font-size;
  }

  h4 {
    font-size: $base-font-size;
  }
}
